header.paciente{
  background: #3c8ef3;
}

header.medico{
  background: #f2a03d;
}

nav.paciente ul li a:hover{
  border-right: 4px solid #3c8ef3;
}

nav.medico ul li a:hover{
  border-right: 4px solid #f2a03d;
}

header{
  position: fixed;
  width: 100%;
  top:0;
  height: 70px;
  line-height: 70px;
  z-index: 2;
}

header h2{
  color: #fff;
}

nav{
  position: fixed;
  background: #eee;
  top: 70px;
  height: 100vh;
  padding: 0px;
}

nav ul{
  list-style: none;
  padding:0px;
}

nav ul li{
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  width: 250px;
  border-bottom: 1px solid #ddd;
}

nav ul li a{
  display: block;
  color: #333;
  width: 100%;
  height: 100%;
  padding-left: 20px;
}

nav ul li a:hover{
  color: #333;
  background: #ddd;
  text-decoration: none;
}

header figure{
  width: 45px;
  height: 45px;
  line-height: 70px;
  float: left;
  overflow: hidden;
}

header figure img{
  width: 45px;
}

header h4{
  color: #fff;
  line-height: 70px;
  margin: 0;
}

header.perfil{
  height: 100%;
}

header small{
  color: rgba(255,255,255,0.7);
}
