img{
  max-width: 100%;
}

.login{
  margin-top: 100px;
}

.login input[type="text"], .login input[type="password"], .login select{
  border: none;
  border-radius: 0px;
  box-shadow: none;
  border-bottom: 1px solid #eee;
}

.login form input[type="submit"]{
  border: none;
  color: #fff;
  height: 45px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
  transition: 0.2s
}

.login form input[type="submit"]:hover{
  border: none;
  color: #fff;
  height: 45px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  transition: 0.2s
}

.login .paciente input[type="submit"]{
  background: #3c8ef3;
}

.login .medico input[type="submit"]{
  background: #f2a03d;
}

.signUp, .title{
  width: 100%;
  display: block;
  text-align: center;
}

.conteudo{
  margin:70px 10px 0 260px;
}

.consultaData{
  float: left;
  margin-right: 20px;
}

.list-group-item b span{
  color: #aaa;
}

#perfil .list-group-item:hover a{
  visibility: visible;
  opacity: 1;
  transition: 0.1s;
}

#perfil .list-group-item a{
  visibility: hidden;
  opacity: 0;
  transition: 0.1s;
}

#disponibilidade .list-group-item button{
  visibility: hidden;
}

#disponibilidade .list-group-item:hover button{
  visibility: visible;
}


































/*end*/
