@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300,900);

*{font-family: 'Roboto', sans-serif;}

img{
  max-width: 100%;
}

body{
  background: #f7f7f7;
}

.df_blue_bg{background: #536dfe}
.alert_bg{background: #ef5350}

.block{
  display: block;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
  position: relative;
  transition: 0.2s;
  margin: 15px 0;
}

.block .block_title{padding-left: 70px; text-decoration: none; color: #333;}
a.block:hover{text-decoration: none;  box-shadow: 0px 5px 10px rgba(0,0,0,0.2); transition: 0.2s;}

.icon_hl{position: absolute; top: 0; left: 0; height: 100%; width: 60px; border-radius: 5px 0 0 5px}

.icon_hl figure{display: block; width: 100%; height: 100%; text-align: center;padding: 50% 0;}
.icon_hl img{height: 25px;}
.block_content{padding-left: 20px; font-size: 16px;}

.login{
  margin-top: 100px;
}

.df_input{
  border: none;
  border-radius: 0px;
  box-shadow: none;
  border-bottom: 1px solid #eee;
  background: none;
  outline: none;
}


.df_submit{
  display: block;
  border: none;
  color: #fff;
  height: 45px;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.4);
  transition: 0.2s
  border-radius: 5px;
  width: 100%;
}

.df_submit:hover{
  border: none;
  color: #fff;
  height: 45px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
  transition: 0.2s
}

.paciente .df_submit{
  background: #3c8ef3;
}

.medico .df_submit{
  background: #f2a03d;
}

.signUp, .title{
  width: 100%;
  display: block;
  text-align: center;
}

.conteudo{
  margin:80px 10px 0 260px;
}

.consultaData{
  float: left;
  margin-right: 20px;
}

.list-group-item b span{
  color: #aaa;
}

#perfil .list-group-item:hover a{
  visibility: visible;
  opacity: 1;
  transition: 0.1s;
}

#perfil .list-group-item a{
  visibility: hidden;
  opacity: 0;
  transition: 0.1s;
}

#disponibilidade .list-group-item button{
  visibility: hidden;
}

#disponibilidade .list-group-item:hover button{
  visibility: visible;
}



































/*end*/
